<% layout("layout/boilerplate") %>
    
    <div id="card" class="container-fluid">
        <form class="mx-auto" action="/api/contact" method="POST">
            <h2 class="text-center">Add New Contact</h2>
            <div class="mb-2 mt-3">
                <label for="firstName" class="form-label">Nama Depan</label>
                <input class="form-control" type="text" id="firstName" name="kontak[firstName]" placeholder="Nama Depan" required>
            </div>
            <div class="mb-2 mt-3">
                <label for="lastName" class="form-label">Nama Belakang (Opsional)</label>
                <input class="form-control" type="text" id="lastName" name="kontak[lastName]" placeholder="Nama Belakang">
            </div>
            <div class="mb-2 mt-3">
                <label for="phoneNumber" class="form-label">No Telepon</label>
                <input class="form-control" type="number" id="phoneNumber" name="kontak[phoneNumber]" placeholder="Nomor Telepon">
            </div>
            <div class="mb-2 mt-3">
                <label for="email" class="form-label">Email</label>
                <input class="form-control" type="email" id="email" name="kontak[email]" placeholder="Email">
            </div>
            <button type="submit" class="btn btn-primary mt-5">Simpan</button>
        </form>
    </div>

    <div id="card" class="container-fluid">
        <h2 class="text-center mb-3">My Contact</h2>
        
        <% for (let kontak of contacts) { %>
            <div id="contact" class="card mb-3">
                <div class="row g-0">
                <div class="col-md-1 text-center">
                    <img src="./profile1.png" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-9">
                    <div class="card-body">
                    <h4 class="card-title"><%= kontak.firstName %> <%= kontak.lastName %></h4>
                    <p class="card-text mb-1">No Telepon: <%= kontak.phoneNumber %></p>
                    <p class="card-text">Email: <%= kontak.email %></p>
                    </div>
                </div>
                <div class="col-md-2 text-center ">
                    <div class="button-container">
                        <a href="/kontak/<%= kontak._id %>">
                            <button id="ubah">
                                <img id="update" src="./update.png" class="img-fluid rounded-start" alt="...">
                            </button>
                        </a>
                        <form id="hapus" action="/api/contact/<%= kontak._id %>?_method=DELETE" method="POST">
                            <button id="hapus" type="submit" class="btn p-0 border-0 bg-transparent">
                                <img id="trash" src="./trash.png" class="img-fluid rounded-start" alt="...">
                            </button>
                        </form>
                    </div>
                </div>
                </div>
            </div>
        <% } %>
        
        <!-- <div class="container-fluid">
            <% for (let kontak of contacts) { %>
                <h4><%= kontak.firstName %> <%= kontak.lastName %></h4>
                <ul>No Telepon: <%= kontak.phoneNumber %></ul>
                <ul>Email: <%= kontak.email %></ul>
                <form action="/api/contact/<%= kontak._id %>?_method=DELETE" method="POST">
                    <button>Hapus</button>
                </form>
                <a href="/kontak/<%= kontak._id %>">
                    <button>Ubah</button>
                </a>
            <% } %>
        </div> -->
    </div>
